<div style="height: 400px;">
<div data-dojo-attach-point="newButton" data-dojo-type="dijit/form/Button">New item</div>
<div data-dojo-attach-point="getSelectedItem" data-dojo-type="dijit/form/Button">Get items bulkly</div>
<div data-dojo-attach-point="deleteButton" data-dojo-type="dijit/form/Button">Delete item</div>
<div data-dojo-attach-point="filterButton" data-dojo-type="dijit/form/Button">Filter Abbreviation AK</div>
<table data-dojo-attach-point='grid' data-dojo-type="dojox.grid.DataGrid">
    <thead>
        <tr>
            <th field="name" width="200px">State name</th>
            <th field="abbreviation" width="200px" editable="true">Abbreviation</th>
            <th field="capital" width="200px" editable="true">Capital</th>
        </tr>
    </thead>
</table>
</div>
