<div>
<p>See docment</p>
<ul><li><a href='http://dojotoolkit.org/reference-guide/1.9/dojox/grid/DataGrid.html'>http://dojotoolkit.org/reference-guide/1.9/dojox/grid/DataGrid.html</a></li></ul>
<p>Dojo tests</p>
    <ul>
        <li><a href='/js/dojo/dijit/tests/_data/'>/js/dojo/dijit/tests/_data/</a> (test data)</li>
        <li><a href='/js/dojo/dojox/grid/tests'>/js/dojo/dojox/grid/tests</a></li>
    </ul>
<p>Custom widgets source</p>
    <ul><li>See /js/myapp/views/DataGridCustomView.js</li></ul>
<p>Custom widgets demo</p>
    <div style="display:none;" data-dojo-attach-point="dataGridProgramicly" data-dojo-type="myapp/views/DataGridProgramicView"></div>
    <div style="display:none;" data-dojo-attach-point="dataGridDeclarative" data-dojo-type="myapp/views/DataGridDeclarativeView"></div>
    <div data-dojo-attach-point="dataGridCustom" data-dojo-type="myapp/views/DataGridCustomView"></div>
</div>
